<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trubish</title>

    <!-- Bootstrap - referências para as folhas de estilo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Fonts Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/style.css" rel="stylesheet">


</head>

<body>
    <header>
        <!-- Menu de navegação compartilhado -->
        <div id="navigationMenu">
            <nav class="navbar navbar-expand-md navbar-dark nav-bg-color">
                <a class="navbar-brand" href="#"><img src="/static/trubish-icon.png" alt="Ícone principal do Trubish"
                        class="nav-icon"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="nav navbar-nav">
                        {{#if (equals tipoUsuario "cliente")}}
                            <li class="nav-item"><a class="nav-link" href="/cliente">Home</a></li>
                        {{/if}}

                        {{#if (equals tipoUsuario "coletor")}}
                            <li class="nav-item"><a class="nav-link" href="/coletor">Home</a></li>
                        {{/if}}

                        {{#if (equals tipoUsuario "tratamento")}}
                            {{!-- Criar esta view --}}
                            <li class="nav-item"><a class="nav-link" href="/tratamento">Home</a></li>
                        {{/if}}

                        <li class="nav-item"><a class="nav-link" href="/alterarCadastro">Minha Conta</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="specialDropdown" class="nav-link dropdown-toggle" href="#" role="button"
                                data-toggle="dropdown">Menu</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {{#if (equals tipoUsuario "cliente")}}
                                    <li><a class="dropdown-item" href="/cliColetasAgendadas">Coletas Agendadas</a></li>
                                    <li><a class="dropdown-item" href="/cliHistoricoPedidos">Histórico de Pedidos</a></li>
                                    <li><a class="dropdown-item" href="/cliNovoPedido">Novo Pedido</a></li>
                                {{/if}}

                                {{#if (equals tipoUsuario "coletor")}}
                                    <li><a class="dropdown-item" href="/coleColetasPendentes">Coletas Pendentes</a></li>
                                    <li><a class="dropdown-item" href="/coleHistoricoColeta">Histórico de Coletas</a></li>
                                    <li><a class="dropdown-item" href="/coleRecursosColeta">Recursos para Coletas</a></li>
                                    <li><a class="dropdown-item" href="/coleGraficosDesempenho">Gráficos de Desempenho</a></li>
                                {{/if}}

                                {{#if (equals tipoUsuario "tratamento")}}
                                    {{!-- Corrigir os nomes dos arquivos quando forem adicionados --}}
                                    <li><a class="dropdown-item" href="entregasPendentes.html">Entregas Pendentes</a></li>
                                    <li><a class="dropdown-item" href="historicoEntregas.html">Histórico de Entregas</a></li>
                                    <li><a class="dropdown-item" href="capacidadeTratamento.html">Capacidade de Tratamento</a></li>
                                {{/if}}
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <img src="/uploads/{{fotoUsuario}}" class="rounded float-left" style="width: 55px;">
                        <li class="nav-item mr-4"><a class="nav-link" href="/alterarCadastro"><span
                                    class="fa fa-user fa-lg"></span> Nome</a></li>
                        <li class="nav-item">
                            <form class="form-inline" method="GET" action="/logout">
                                <button class="btn btn-outline-light" type="submit">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div>
            {{{body}}}
        </div>
    </main>

    <!-- jQuery e Ajax -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
    </script>


    <!-- Bootstrap- referências para JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>