<div class="card-md">

    <div class="card-body p-5 ">
        <h3 class="card-title text-center">Dados cadastrais</h3>
        <p class="card-text">
        <form>
            <div class="input-group-md mb-3">
                <input disabled type="text" class="form-control" placeholder="Nome da empresa"
                    aria-label="Nome da empresa" aria-describedby="basic-addon2">
            </div>
            <div class="input-group-md mb-3">
                <input disabled type="text" class="form-control" placeholder="E-mail" aria-label="email"
                    aria-describedby="basic-addon2">
            </div>
            <div class="input-group-md mb-3">
                <input disabled type="text" class="form-control" placeholder="Nome de usuário" aria-label="Usuário"
                    aria-describedby="basic-addon2">
            </div>
            <div class="input-group-md mb-3">
                <input disabled type="password" class="form-control" placeholder="Senha" aria-label="Senha"
                    aria-describedby="basic-addon2">
                <div class="progress progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%"
                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="input-group-md mb-3">
                <input disabled type="text" class="form-control" placeholder="Telefone" aria-label="Telefone"
                    aria-describedby="basic-addon2">
            </div>
            <div class="input-group-md mb-3">
                <input disabled type="text" class="form-control" placeholder="CNPJ" aria-label="CNPJ"
                    aria-describedby="basic-addon2">
            </div>
            <div class="dropdown mb-3">
                <button disabled class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ramo da empresa
                </button>
                <div disabled class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Química</a>
                    <a class="dropdown-item" href="#">Eletronicos</a>
                    <a class="dropdown-item" href="#">Construção</a>
                </div>
            </div>

            <div class="text-left mb-3">
                <img height="130" src="https://www.fivesquid.com/pics/t2/1508461776-76689-1-1.jpg" class="rounded"
                    alt="avatar de perfil">
            </div>

            <div class="input-group-md mb-3">
                <button class="btn btn-secondary btn-lg " type="submit">Voltar</button>
                <button class="btn btn-secondary btn-lg " type="submit">Alterar cadastro</button>
            </div>


        </form>
        </p>
    </div>

</div>