<div class="card-md">

    <div class="card-body p-5 ">
        <h3 class="card-title text-center">Dados cadastrais</h3>
        <p class="card-text">
        <form action="/alterarCadastro" method="post" enctype="multipart/form-data">
            {{> cadastro-form}}

            <div class="input-group-md mb-3">
                <button class="btn btn-secondary btn-lg " type="submit">Voltar</button>
                <button class="btn btn-secondary btn-lg " type="submit">Alterar cadastro</button>
            </div>


        </form>
        </p>
    </div>

</div>