<div class="card-deck p-5">

    <div class="card">
        <div class="card-body p-5">
            <h3 class="card-title text-center">Coletas Agendadas</h3>
            <div class="container my-4">
                {{> coletas-agendadas}}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-5">
            <h3 class="card-title text-center">Informações da coleta agendada</h3>
            <br>
            <div class="card-text">
                {{> informacoes-coleta}}
                <div class="text-center">
                    <button class="btn btn-outline-light" type="submit" style="background-color: #E7B756;">Cancelar
                        coleta</button>
                </div>
            </div>
            
        </div>
    </div>

</div>