<div class="card-deck p-5">

    <div class="card">
        <div class="card-body p-5">
            <h3 class="card-title text-center">Histórico de Pedidos </h3>
            <div class="container my-4">
                {{> historico-pedidos}}
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body p-5">
            <h3 class="card-title text-center">Coletas Agendadas</h3>
            <div class="container my-4">
                {{> coletas-agendadas}}
            </div>
        </div>
    </div>

</div>