<div class="card-deck p-5">
    <div class="card">
        <div class="card-body p-5">
            <h3 class="card-title text-center">Histórico de Pedidos </h3>
            <div class="container my-4">
                {{> historico-pedidos}}
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body p-5">
            <h3 class="card-title text-center">Detalhes da coleta</h3>
            <br>
            <div class="card-text">
                {{> informacoes-coleta}}
                <div class="text-center">
                    <form class="form-inline-center" method="get" action="/remover/{{pedido.idPedido}}">
                        <button class="btn btn-outline-light" type="submit"  style="background-color: #E7B756;">Remover do Histórico</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>