<div class="card-deck p-5">


    <div class="card">
        <div class="card-body p-5 d-flex flex-column">
            <h3 class="card-title text-center">Por Tipo de Consumidor</h3>
            <div class="container my-4">
                <canvas id="pieChartTipoConsumidor"></canvas>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-5 d-flex flex-column">
            <h3 class="card-title text-center">Por Cliente</h3>
            <div class="container my-4">
                <canvas id="pieChartBeneficiario"></canvas>
            </div>
        </div>
    </div>

</div>