<div class="card-deck p-3 ">

    <div class="card">
        <div class="card-body  p-5 ">
            <h3 class="card-title text-center">Sobre n칩s</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nulla lacus,
                finibus et imperdiet ac, viverra vel enim. Curabitur in convallis lectus, tempor molestie dui. Donec
                augue diam, volutpat at fermentum quis, viverra eget tellus. Integer maximus porttitor sapien id
                vestibulum. Duis in ultricies leo, et interdum orci. Mauris at turpis vehicula, fermentum velit sed,
                vulputate lacus. Vestibulum in consequat libero. Aliquam non ullamcorper velit. Suspendisse ac nibh
                turpis. Nullam vel neque consequat, commodo nisl et, accumsan nibh.</p>

        </div>

    </div>


    <div class="card">
        <div class="card-body  p-5 ">
            <h3 class="card-title text-center">Frota</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img class="card-img-top" src="https://i.ytimg.com/vi/X5LDzkV1-24/mqdefault.jpg">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img class="card-img"
                src="https://www.greenfm.com.br/wp-content/uploads/2018/05/corpus-caminhao-eletrico-660x330.jpg">
        </div>
    </div>

    <div class="card">

        <div class="card-body p-5 ">
            <h3 class="card-title text-center">Contato</h3>
            <p class="card-text">
            <form>
                <div class="input-group-md mb-3">
                    <input type="text" class="form-control" placeholder="Nome" aria-label="Usu치rio"
                        aria-describedby="basic-addon2">
                </div>
                <div class="input-group-md mb-3">
                    <input type="text" class="form-control" placeholder="E-mail" aria-label="Usu치rio"
                        aria-describedby="basic-addon2">
                </div>
                <div class="input-group-md mb-3">
                    <input type="text" class="form-control" placeholder="Telefone" aria-label="Usu치rio"
                        aria-describedby="basic-addon2">
                </div>
                <div class="input-group-md mb-3">
                    <textarea class="form-control" placeholder="Mensagem" aria-label="With textarea"></textarea>
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">Enviar Mensagem</button>
                </div>


            </form>
            </p>
        </div>

    </div>

</div>